:root{
    --text-color:#333;
    --white: #fff;
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
}

body{
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Saira Condensed';
    overflow-x:hidden;
    background-color: #F9F7F7;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    padding:0;
}
span{
    display: inline-block;
}
a{
    display: inline-block;
    font-size: 1.5rem;
}
p{
    font-size: 1.5rem;
}
.grid{
    width: 1100px;
    max-width: 100%;
    margin: auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}



