.header{
    position: relative;
    background: rgb(63,130,175);
    background: linear-gradient(90deg, rgba(63,130,175,1) 0%, rgba(63,114,175,1) 35%);
    height: 8rem;
}

.header-navbar{
    display: flex;
    justify-content: space-between;
}

.header-list{
    margin-top: 3rem;
}

.header-list-items{
    display: inline-block;
}
.header-list-items a{
    font-size: 3em;
    color: var(--white);
    margin-left: 1.5rem;
    margin-right: 1.5rem;

}
#logo{
    
}
#logo-text{
    color: var(--white);
    font-size: 4.5em;
    -webkit-box-reflect: below 1px linear-gradient(transparent, white);
    outline: none;
}
#logo-text #logo-text-name{
    color: #112d5a;
}
#logo-image{
    position: absolute;
    margin-left: 500px;
    width: auto;
    height: 150px;
}
.header a{
}
.container{
    width: 100%;
}
.solution {
    list-style-type: none; 
    overflow: hidden; 
    width: 100%;
    margin: auto;
}
.box{
    margin-top: 10px;
    margin-right: 0.5em;
    float: left;
    line-height: 10px;
    font-size:1.5em;
    text-align: center;
    background-color: #DBE2EF;
    padding: 10px;
    border-radius: 5px; 
    height: fit-content;
    width: fit-content;
}

.showcase-box{
    width: 100%;
    margin-top: 30px;
    margin-right: 1rem;
}

.banner{
    font-size:2rem;
    margin-top: 2rem;
    transition-duration: 250ms;

}

.showcase-box-image{
    width: 270px;
    height: 190px;
    margin-top: 10px;
    overflow: hidden;
    padding-bottom: 10px;
}
.showcase-box-image img{
    width: 97%;
    height: 97%;
    object-fit:cover;
    object-position: top;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}
.text-space{
    margin-top: 3rem;
    display: flex;
}

.text-space-item{
    margin-right: 1rem;
    width: 40rem;

}
.welcome{
}
.welcome-header{
    font-size: 2rem;
    color: #112d5a;
    
}
.banner:hover{
    color:#dd8100;
    transform: translate(0.2rem, -0.2rem);
}
.welcome-link{
    text-align: right;
}
.member-list-item{
    display: flex;
    margin-bottom: 10px;
}
.member-list-item-image{
    width: 9rem;
    height: 9rem;
    object-fit: cover;
    float: left;
    margin-right: 10px;
    border-left: 0.3rem rgb(63,130,175) solid;
}
.member-list-item-text{
    margin: 0;
}
.product-list-item{
    margin-bottom: 10px;
}
.product-list-item a{
    color: black;
    transition-delay: 20ms;
    transition-duration: 200ms;
}
.product-list-item a:hover{
    font-weight: bold;
    color:#112d5a;
}
.post-list-item{
    display: flex;
    margin-bottom: 10px;
}
.post-list-item-image{
    width: 80rem;
    height: 50rem;
    object-fit: cover;
    float: left;
    margin-right: 10px;
}
.post-list-item-image img{
    width: 100%;
    height: 100%;
}

